# Docker environment logs directory
# This directory will contain nginx logs from the Docker container

# Automatically created files:
# - access.log
# - error.log  
# - perf_publisher.log (if monitoring config is used)
# - perf_subscriber.log (if monitoring config is used)

*.log